.DS_STORE
.vagrant

.idea

/public/vendor/
/public/plugins/istheweb/shop/vendor/
/public/plugins/istheweb/ispdf/vendor/
/bbdd/
/public/storage/framework/cache/
/public/platform_06-04-2017.sql
/public/platform_14-04-2017.sql
/public/platform_bbdd.sql
/public/platform_16-04-2017.sql
